body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b8bcd7;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.productos-galeria {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container {
  width: calc(33.33% - 20px);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #242459;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #5c60cb;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-description {
  margin-top: 10px;
}

.eliminar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.producto-form {
  width: 30%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="file"] {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
}

.button-group button {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 12%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: darkblue;
  color: #FFF;
}

.rigths {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.development {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header,
  footer {
    text-align: center;
  }

  .producto-form {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}